.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #282c34;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 25px; /* 5px rounded corners */
  padding: 50px;
  background-color: #102027;
  max-height: 1000px;
  width: 100%;
}

.Header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
}